<form class="container login-form">
    <h2 class="has-text-white is-size-3">Login</h2>
    <div class="field">
        <label class="label has-text-white">Email</label>
        <div class="control">
            <input class="input" type="text" id="email-login" placeholder="email">
        </div>
    </div>
    <div class="field">
        <label class="label has-text-white">Password</label>
        <div class="control">
            <input class="input password-login" type="password" id="password-login" placeholder="password">
        </div>
    </div>
    <div class="field">
        <button class="button" type="submit">Submit</button>
    </div>
</form>

<script src="./js/login.js"></script>