<form class="container signup-form">
    <h2 class="has-text-white is-size-3">Sign Up</h2>
    <div class="field">
        <label class="label has-text-white">Name</label>
        <div class="control">
            <input class="input" type="text" id="username-signup" placeholder="name">
        </div>
    </div>
    <div class="field">
        <label class="label has-text-white">Email</label>
        <div class="control">
            <input class="input" type="text" id="email-signup" placeholder="email">
        </div>
    </div>
    <div class="field">
        <label class="label has-text-white">Password</label>
        <div class="control">
            <input class="input" type="text" id="password-signup" placeholder="password">
        </div>
    </div>
    <div class="field">
        <button class="button" type="submit">Submit</button>
    </div>
</form>

<script src="./js/signup.js"></script>