<form class="container post-form">
    <div class="field">
        <label class="label has-text-white">Title Your Post</label>
        <div class="control">
            <input class="input" type="text" id="post-title" value="{{post.title}}">
        </div>
    </div>
    <div class="field">
        <label class="label has-text-white">Post</label>
        <div class="control">
            <textarea class="textarea" type="text" id="post-body">{{post.body}}</textarea>
        </div>
    </div>
    <div class="field">
        <button class="button" type="submit">Update</button>
    </div>
</form>

<script src=".././js/updateform.js"></script>